h1 {
    color: red;
}
.searchBoxContainer {
    display: flex;
    flex-direction: row;
    /*background-color: lightblue;*/
    height: 30px;
    width: 380px;
    align-items: center;
    justify-content: stretch;
    font-family: Avenir;
}
#submit_button {
    width: 380px;
    background-color: #008CBA;
    margin: auto;
    color: white;
    border-radius: 8px;
}
.searchBoxContainer > div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-left: 2px;
    padding-right: 2px;
}
.search_query {
    flex-grow: 1;
    font-size: 12px;
    /*position: relative;*/
    /*right: 20px;*/
}
.logo_image {
    /*position: relative;*/
    /*right: 25px;*/
    flex-grow: 0;
    width: 40px;
}
.search_input {
    flex-grow: 1;
    /*text-align: center;*/
}
.search_button {
    flex-grow: 0;
}
.search_input > input {
    width: 180px;
}